/* Basic Setup */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
body {
    overflow-x: hidden;
}

/* Navbar Section */
#logo {
    color: #30533c;
}
.nav_menu_link {
    color: #1d8843;
    font-weight: 600;
    border-bottom: 2px solid #ffffff;
}
.nav_menu_link:hover {
    color: #1d8843;
    border-bottom: 2px solid #2aff74;
    transition: 0.3s;
}
#nav_login_link {
    background-color: #30533c;
    color: white;
    font-weight: 600;
    border: 2px solid #30533c;
}
#nav_login_link:hover {
    background-color: white;
    color: #30533c;
    transition: 0.3s;
}


/* Header Section */
#header_div {
    width: 100vw;
    height: 100%;
    /* background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%); */
    background-image: url("../imgs/hero_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#header_anchor {
    background-color: #30533c;
    color: white;
    border: 2px solid #30533c;
}
#header_anchor:hover {
    background-color: white;
    color: #30533c;
    border: 2px solid #30533c;
    transition: 0.3s;
}

/* Footer Section */
#footer {
    background-color: #30533c;
}
.social_link i {
    font-size: 25px;
    margin-left: 15px;
}
